# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv'

flights = pd.read_csv(url)

### When do the first and last flights leave each day?

In [2]:
flights['date'] = flights.apply(lambda x: str(x['year']) + '-' + str(x['month']) + '-' + str(x['day']), axis=1)
flights.date = pd.to_datetime(flights.date, format = '%Y-%m-%d')

first_flight = flights.groupby('date')[['dep_time']].min()
ff_df = first_flight.rename(columns = {'dep_time':'firstflight'})
last_flight = flights.groupby('date')[['dep_time']].max()
lf_df = last_flight.rename(columns = {'dep_time':'lastflight'})
pd.concat([ff_df, lf_df], axis = 1)

            firstflight  lastflight
date
2013-01-01        517.0      2356.0
2013-01-02         42.0      2354.0
2013-01-03         32.0      2349.0
2013-01-04         25.0      2358.0
2013-01-05         14.0      2357.0
...                 ...         ...
2013-12-27          2.0      2351.0
2013-12-28          7.0      2358.0
2013-12-29          3.0      2400.0
2013-12-30          1.0      2356.0
2013-12-31         13.0      2356.0

[365 rows x 2 columns]

### When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.

In [3]:
flights.groupby(['carrier','origin'])[['dep_time']].apply(lambda x: x.isna().sum())

                dep_time
carrier origin
9E      EWR           68
        JFK          807
        LGA          169
AA      EWR           99
        JFK          141
        LGA          396
AS      EWR            2
B6      EWR           74
        JFK          315
        LGA           77
DL      EWR           39
        JFK          100
        LGA          210
EV      EWR         2164
        JFK           82
        LGA          571
F9      LGA            3
FL      LGA           73
HA      JFK            0
MQ      EWR          168
        JFK          327
        LGA          739
OO      EWR            0
        LGA            3
UA      EWR          435
        JFK           44
        LGA          207
US      EWR           75
        JFK           26
        LGA          562
VX      EWR           10
        JFK           21
WN      EWR          105
        LGA           87
YV      LGA           56

### Which carrier has the worst dep_delays?

In [4]:
flights.groupby('carrier')[['dep_delay']].sum().sort_values('dep_delay', ascending = False).head(1)

         dep_delay
carrier
EV       1024829.0

### Which plane (tailnum) has the worst on-time record?

In [5]:
flights.groupby('tailnum')[['arr_delay']].sum().sort_values('arr_delay', ascending = False).head(1)

         arr_delay
tailnum
N15910      7317.0

### For each plane, count the number of flights before the first delay of greater than 1 hour.

In [6]:
flights.groupby('tailnum')[['arr_delay']].count().sort_values('arr_delay', ascending = False)

         arr_delay
tailnum
N725MQ         544
N722MQ         485
N723MQ         475
N711MQ         462
N713MQ         449
...            ...
N347SW           0
N939DN           0
N862DA           0
N865DA           0
N768SK           0

[4043 rows x 1 columns]