# Week8 Homework
## Working with Strings

The data frame contains notes taken by staff members. Your task is to clean it up to make it usable for analysis. 

### Tasks
* Create start date, end date columns and populate the values (If notes don't include month or day use 1 for missing value) 

i.e: 
    
    - 2018 => 2018-01-01  
    - June 2021 => 2021-06-01  
    - 2020 => 2020-01-01

* Create phone number column (If notes don't include phone numbers, use None)
* Create a column `duration` showing difference between start & end dates in years as a whole number

Note: Choose one of the following datasets to work on based on your taste!

In [1]:
import pandas as pd
import re

In [2]:
spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_spicy.csv'
less_spicy = 'https://raw.githubusercontent.com/msaricaumbc/DS_Data/master/strings/hw_data_less_spicy.csv'

In [3]:
df = pd.read_csv(spicy, index_col=0)

In [4]:
df.head()

,email,notes
0,ayalajodi@hotmail.com,start date 1982-05-20 end dt 2016
1,tmitchell@hotmail.com,P# 896.729.1768x061-STDT 2004-06-12-end date 2...
2,johnrivera@gmail.com,st date:1976/end dt 05/16/2019/pn: (895)351-43...
3,kimberly60@yahoo.com,stdt1995-03 end date December 2021 pn: 881139...
4,paulharding@jefferson-burns.com,pn: (448)006-0055x240-STDT 1983-02-ed date:08/...

In [5]:
df.loc[:, 'notes'].value_counts().sort_values(ascending =False)

start date 1982-05-20 end dt 2016                          1
p#  +1-097-706-8440x3521 stdt2002-01-03 ed date:2011-07    1
st date:1976/end dt 05/16/2019/pn: (895)351-4305x228       1
stdt1995-03 end date December 2021 pn:  8811396378         1
pn: (448)006-0055x240-STDT 1983-02-ed date:08/29/2018      1
                                                          ..
st date:05/87/end date 2018-07-10                          1
st date:March 2004/end dt 12/12/2016                       1
stdt09/81-end dt April 2011-pn:  +1-775-506-6591           1
P# +1-465-834-0429x6900-STDT 02/72-end dt 01/06/2018       1
STDT 1982-06 end date 2021-05-19                           1
Name: notes, Length: 2000, dtype: int64

In [6]:
df.fillna('None', inplace = True)

In [7]:
df[df['notes'].str.lower().str.contains('\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4}')]['notes']

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/1225007834.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[df['notes'].str.lower().str.contains('\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4}')]['notes']

1       P# 896.729.1768x061-STDT 2004-06-12-end date 2...
2       st date:1976/end dt 05/16/2019/pn: (895)351-43...
3       stdt1995-03 end date December 2021 pn:  881139...
4       pn: (448)006-0055x240-STDT 1983-02-ed date:08/...
5       start date 05/10/1992/end date 2016-10-25/pn: ...
                              ...
1987             p#  075.195.1827x655/STDT 1984/endt 2013
1989    st date:2001-05-25 end date 2018 pn: +1-526-21...
1991    pn: 060.817.2663x9107/start date 02/08/end dat...
1992                stdt1998-end dt 01/17-P# 372.858.6385
1994        stdt1998/endt 2019/pn: 001-784-726-2504x66011
Name: notes, Length: 1331, dtype: object

In [8]:
def Phonenumber(notes):
    x = re.findall('(\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4})', notes)
    if x :
        return(x)
df['PhoneNumber'] = df['notes'].apply(Phonenumber)
df

,email,notes,PhoneNumber
0,ayalajodi@hotmail.com,start date 1982-05-20 end dt 2016,None
1,tmitchell@hotmail.com,P# 896.729.1768x061-STDT 2004-06-12-end date 2...,"[(896.729.1768, , , , )]"
2,johnrivera@gmail.com,st date:1976/end dt 05/16/2019/pn: (895)351-43...,"[(895)351-4305, , , , )]"
3,kimberly60@yahoo.com,stdt1995-03 end date December 2021 pn: 881139...,"[(8811396378, , , , )]"
4,paulharding@jefferson-burns.com,pn: (448)006-0055x240-STDT 1983-02-ed date:08/...,"[(448)006-0055, , , , )]"
...,...,...,...
1995,shane14@hotmail.com,STDT 11/05 end dt 08/13,None
1996,whebert@cohen.com,STDT 2008-09/ed date:03/16,None
1997,timothyjohnson@rice.org,st date:05/87/end date 2018-07-10,None
1998,sellersjeffrey@williams.info,st date:March 2004/end dt 12/12/2016,None
1999,whoward@garrett-dean.com,STDT 1982-06 end date 2021-05-19,None

In [9]:
def notes(x):
    return x.str.replace(r'\[[a-z]+\]','')
def Phonenumber(x):
    return x.str.extract(r'(\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4})', expand = False)
df.transform([notes,Phonenumber])

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/689959726.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  return x.str.replace(r'\[[a-z]+\]','')

                                email                                  \
                                notes Phonenumber
                                email           0    1    2    3    4
0               ayalajodi@hotmail.com         NaN  NaN  NaN  NaN  NaN
1               tmitchell@hotmail.com         NaN  NaN  NaN  NaN  NaN
2                johnrivera@gmail.com         NaN  NaN  NaN  NaN  NaN
3                kimberly60@yahoo.com         NaN  NaN  NaN  NaN  NaN
4     paulharding@jefferson-burns.com         NaN  NaN  NaN  NaN  NaN
...                               ...         ...  ...  ...  ...  ...
1995              shane14@hotmail.com         NaN  NaN  NaN  NaN  NaN
1996                whebert@cohen.com         NaN  NaN  NaN  NaN  NaN
1997          timothyjohnson@rice.org         NaN  NaN  NaN  NaN  NaN
1998     sellersjeffrey@williams.info         NaN  NaN  NaN  NaN  NaN
1999         whoward@garrett-dean.com         NaN  NaN  NaN  NaN  NaN

                                                  notes                     \
                                                  notes   Phonenumber
                                                  notes             0    1
0                     start date 1982-05-20 end dt 2016           NaN  NaN
1     P# 896.729.1768x061-STDT 2004-06-12-end date 2...  896.729.1768  NaN
2     st date:1976/end dt 05/16/2019/pn: (895)351-43...  895)351-4305  NaN
3     stdt1995-03 end date December 2021 pn:  881139...    8811396378  NaN
4     pn: (448)006-0055x240-STDT 1983-02-ed date:08/...  448)006-0055  NaN
...                                                 ...           ...  ...
1995                            STDT 11/05 end dt 08/13           NaN  NaN
1996                         STDT 2008-09/ed date:03/16           NaN  NaN
1997                  st date:05/87/end date 2018-07-10           NaN  NaN
1998               st date:March 2004/end dt 12/12/2016           NaN  NaN
1999                   STDT 1982-06 end date 2021-05-19           NaN  NaN

                    PhoneNumber
                          notes Phonenumber
        2    3    4 PhoneNumber           0    1    2    3    4
0     NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...         ...         ...  ...  ...  ...  ...
1995  NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
1996  NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
1997  NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
1998  NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN
1999  NaN  NaN  NaN         NaN         NaN  NaN  NaN  NaN  NaN

[2000 rows x 18 columns]

In [10]:
for _, i in df[-df['notes'].str.lower().str.contains('\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4}')]['notes'].iteritems():
    print(i)

start date 1982-05-20 end dt 2016
STDT 02/18/1996 ed date:2018-04
stdt2003-05-24 endt 2012-09
STDT 09/97/end date 2021
start date 2002-03-endt 2019
st date:09/17/1976-end date August 2019
STDT 11/23/1981-ed date:2012
STDT 1982 end dt 2010
start date 1982-12-24/end dt 09/19
st date:1972-09/end date 2019-11
stdt01/21/1972-endt 2017-04
st date:2009/ed date:2021-07-12
STDT 12/29/1971-ed date:2020
stdt2008/end date 12/01/2015
stdt1996/endt 09/20
st date:2002-02-endt 09/10
st date:2005-03-22 endt 02/24/2020
st date:07/06/1999-end date September 2016
start date 1977-12-27 end dt 2014
stdtOctober 1990-endt 08/14
start date 12/72 endt 2012-03-10
start date December 1977/endt 2015
st date:2003-11-12/ed date:2021-12-30
stdt1981-12 end date 2015-04-04
st date:01/26/1998/endt September 2021
st date:11/06/1994/end dt July 2020
st date:06/09/end date March 2019
st date:06/12/1987-ed date:2012-05
STDT 09/77/end dt 09/16
STDT 1999/end dt 01/21
stdt1986-04-18 end date 2010-04-19
start date 10/10/2002/ed date:2015-07-27
STDT 03/02/1998/end date 07/21/2013
start date 1970-09/end date 12/17
STDT 1997-12 end date 2016-10-10
start date 1993/endt 2015-02
st date:09/76-ed date:11/10
st date:1984-12-23 ed date:2012
STDT November 1983 end dt 2015-10
stdtNovember 1992 endt 2014-06
start date 03/05/1984-end date 12/12
STDT 02/26/1992-endt 2011-10
start date 12/73 endt 03/09/2012
STDT 1980/ed date:11/22/2014
st date:1988-06/end date 2018-12
start date September 1975-end dt November 2013
STDT 12/01/1986-end date 2020-06
STDT 11/09-end date November 2021
STDT 10/15/2006 end date 2012-02-26
st date:08/72/endt 11/20
st date:1989 ed date:2014-01
STDT August 1979/ed date:August 2018
stdt1996-01-07/endt 2016
start date 1994 endt October 2013
stdtApril 1997-ed date:2012-02
STDT 1984 endt 03/14
start date 07/11/1990 end dt 2012
STDT 04/30/2008 end dt 2015
st date:01/77-end date 2011-04
STDT 12/97/end dt 08/27/2010
stdt10/93/end date 2013-08-10
st date:1975-09-02-ed date:12/13/2012
stdt04/75/end dt 2021
st date:1990-03-25 end date October 2014
start date August 1976/ed date:08/08/2012
STDT 1990-01-ed date:02/20
start date 2003 endt 11/14
stdt1970-ed date:2016
stdt1973-endt October 2013
stdt1973-04-22 end date 2020
start date 1983-12 endt 09/08/2011
start date 09/76/end dt 2019-01-25
st date:1981-06-22-endt 2016-06
start date 04/22/2002 endt 07/19
st date:1975-05 end dt 06/18
st date:March 1988 endt 04/12
STDT 1980-10/ed date:06/11/2013
stdt11/02/1995/end dt October 2020
stdt1979-02/endt 2016
STDT October 1994-endt 2010
STDT 01/22/1981-ed date:07/17
start date 2008/end dt 2013
st date:December 2004/ed date:2010
st date:1976-06 end date 2010-04-21
STDT 1990-10 end date October 2020
start date 06/16/1981-end dt 02/02/2013
start date 07/91/endt 10/14
stdt03/17/1972/endt 2011
start date 06/16/1972/endt 03/09/2019
stdt10/00 end dt 2017-03
start date 1992 end dt 2010
stdt07/26/1989-ed date:2017
start date July 1992 end date February 2019
st date:September 1976-ed date:2017-12
st date:2009-06-17/end date 10/21
st date:1987-03 end date June 2013
start date 2002/end date 02/12
st date:1997-09 endt 2018
stdtFebruary 1990-end dt 2020-02-07
st date:12/27/1985/end dt October 2012
stdt2007-07/end dt 2010
STDT 10/16/2008-endt 2012-10-02
STDT 12/18/1992/end dt 01/09/2015
stdt1977-10/end date 2017-07-20
start date November 2004/end date 2013-07
STDT January 1984/endt 2018-09
start date 2007-11-end dt 03/20
start date 1975-05-ed date:2019-07
stdt2000-end dt October 2019
start date April 1975 ed date:03/19/2014
stdt07/20/2006 end date 04/25/2018
stdtJanuary 2009/end date 2019
start date 11/03/1994 end dt May 2016
STDT 01/15/1998-endt March 2010
stdt1993-07/ed date:01/11
stdt12/27/1970/ed date:2017-10
STDT December 1990 endt 2021-05
st date:08/09-end dt August 2018
stdt1983 ed date:04/19
start date 2007-end date August 2017
STDT May 1971/ed date:03/24/2020
st date:04/11/1994-end dt 04/14
start date September 1987/end dt 2011
STDT 05/24/2004-end date 2013-05
stdt1987-02-28-end date 2012
stdt02/25/1997-endt 2015
stdt1982 end date 2010
stdt09/06/2005/endt 2019-01
start date 1971-08-13-end date 2021-05-20
st date:October 1983 ed date:07/24/2020
STDT 1977-11 ed date:2011-12-21
st date:1992-endt 2016-05-28
st date:2006-11-end date 2019
start date 1992-08-12 end date 12/13
st date:December 2009-ed date:2011-06
stdt08/78 end dt 2016-11-30
start date 1994-end date June 2013
st date:1996 ed date:July 2015
st date:1972-04/ed date:2014-02-05
start date 07/06/1991/endt 2016
st date:11/05 end date November 2013
stdt1984-07-31/end date 12/14
st date:2009-01-30/endt 08/21
stdt1992-12-14-end date 2021-07-31
stdt1988 end dt 12/19/2015
stdt1983-11-16 end dt 2015
start date April 1990/endt 2018-05-21
STDT 05/19/1971/endt 2011-11
stdt08/75 endt 2019-01
stdt08/25/1975 endt 09/11
start date 1973/end dt 2011-07-20
st date:01/90/ed date:2020
st date:10/96 endt June 2011
start date October 1978/end dt November 2014
start date 08/84/ed date:2014
start date 1974-02-04 end dt 2017
st date:1993-09 endt 11/30/2018
st date:2005-10/ed date:2011-06-21
stdtJanuary 1999-ed date:05/31/2017
st date:February 1972/end date 10/19/2016
STDT 09/96/ed date:2018
st date:November 1997 end dt 2017-07-18
start date 2005 endt 2021-12-24
stdt12/07 endt 06/11
st date:11/92-ed date:2016-07
stdt10/95 end dt 2011
st date:01/85 ed date:05/16
STDT 12/89/ed date:May 2015
st date:1975-end date October 2010
STDT 11/91-ed date:2011-01-06
st date:1975-03/endt September 2017
STDT 04/03/1977-endt 05/26/2018
stdt1998 ed date:January 2020
stdt1997-05-12-end dt 04/14
stdt01/91 ed date:October 2013
st date:1982-04-01 ed date:June 2018
STDT 1978 endt 2017-01-24
st date:10/27/1977 end dt July 2013
stdt12/17/1986 end date 02/17
start date 2003/ed date:2012-07
st date:07/09 end date 10/14
st date:04/15/1989/ed date:2018-01
st date:1983-11 end date 2021-08
start date 10/12/1998/end date 09/23/2019
st date:1975-01-end dt 08/17
st date:July 1990/end dt 2020
STDT 1995-07-23-endt 2021
start date 1998-03 end date 2021
STDT 10/01/1977 ed date:September 2021
STDT 04/89/end date April 2014
start date 2001-05-17-end dt 2019-05-26
stdtDecember 1971/end dt 2012-06-02
STDT February 1999/ed date:2016-10-02
st date:May 2002/end date April 2011
start date 1982-06-05-ed date:2012-01
STDT 05/07-end date June 2021
start date 08/22/1994 ed date:06/14
stdt1988-end date 2010-04
STDT 02/06-end date 2013-12
st date:2008-03-30 end date 2010
stdt1984-06/ed date:December 2013
stdt12/26/1997 end dt 07/10/2014
stdt1986-02-06/ed date:08/17
STDT February 1999-ed date:2014
start date 2005-11/end date 01/16
start date May 1988-ed date:2014-09
stdt11/73 ed date:2021-08-05
STDT 1998-10-22/ed date:11/14
stdt10/79/endt April 2013
st date:05/79-end date 2020-03
st date:04/14/1983/endt December 2016
STDT 1986-12-20/end date 2017
STDT June 2008/end dt 2010
st date:2006-12 ed date:12/10/2019
start date 09/90-ed date:03/21
stdt1985-08-11-endt 12/15/2021
STDT 2003-03-02-end date 02/21
st date:1988-09-20/endt December 2015
stdtMay 2005-end dt 04/21
start date 1980/ed date:09/10
st date:1990 ed date:03/04/2013
start date 1997-07-end date 2020-05
st date:1988/end date 04/21
STDT 1981/end date 10/15/2015
start date 12/07/1995/ed date:2016-07-04
st date:2000-10 endt April 2015
st date:2003-01-end dt 10/15
STDT 1971-11-10-end dt 2013-07-30
st date:06/27/1995/ed date:2021-01-05
stdt1992-04-23-end date 2017-09-05
start date July 1983-end date 04/16
stdt12/89/ed date:November 2012
start date 1991-09-27 end date 2012
STDT 02/84/end date 10/05/2014
stdt1971-07-end dt July 2018
start date 07/70 ed date:2021-08-23
st date:1972-ed date:12/14/2021
STDT 2005-02-15/end date 2021-06
STDT 1971-05-28-end date 11/13/2014
stdtOctober 2001/end date 2020-04
st date:08/28/1983/endt April 2014
start date 1979-06 endt 2021-08
start date 1973 end date November 2018
STDT 2001-11 end date September 2021
STDT 1971-11-21-end dt 12/20
STDT 1978-endt 2021
start date 06/86/endt 2015
stdt06/26/1977/ed date:September 2010
start date 1992-05-12/end date 2010-03-30
st date:1976-11-10 ed date:2015-02
stdtNovember 1998 end date 2016-08-04
start date September 2005 end date 2012
st date:03/89-endt 2020
start date 1984-02-end dt 03/13
start date 1980-ed date:03/20
start date 01/13/2000-endt 09/22/2013
STDT 06/04/end date 2013-06-29
st date:1992-02/end date 11/14
stdtNovember 1975-endt 2020
stdt1983/end dt February 2021
stdt1991 endt 2019-01
stdt1989-end dt 09/11
start date 2001-01-end date 11/02/2011
start date May 2004/end dt 11/15
STDT 2003 end date 01/12/2021
start date 1975-10/ed date:2018
stdt05/01/endt 2015-04
stdt2007-11-16 endt 01/12/2018
STDT July 1971/end dt March 2012
start date April 1990 end date 2012-04-23
st date:June 1978-end dt September 2021
STDT 1973-07-02 endt 2011
st date:02/28/1999 end date July 2012
start date September 1993-ed date:2014
start date 2008-06-07 ed date:2012-04-16
stdt09/11/2003 end dt 2020-01-15
st date:10/88/end date 2015
st date:2008/endt 05/25/2012
st date:1977-05-03 end date 10/15
stdt08/09 endt 2021-09
start date 04/89-ed date:June 2020
STDT 11/92/endt 03/15
stdtApril 2006-end dt 12/15/2016
st date:02/82 endt January 2015
STDT 2009-12 end date 2017
STDT 1991-04-endt 07/14/2016
stdt2007-11/endt 2014-04-02
st date:1985/end dt 2010-10-20
STDT 2003-11-20/end date 01/31/2016
start date October 1976/end dt October 2021
stdtJanuary 1988 endt 08/26/2021
STDT 2004/end dt 2014-09
STDT 2006 end date 2013-12
STDT 1980/end dt 03/15
STDT 11/01/1981/end dt 2011
stdtJuly 1984 ed date:07/09/2012
STDT 01/20/2005 end date 06/16
start date 03/27/1985-end dt 11/19
st date:12/13/1987/end dt 2013-05-05
stdtMay 2004-end date 05/12
start date 12/18/2003-endt June 2011
start date 10/86 end dt February 2015
st date:2003 end dt 2014-06-08
start date 06/76 end date 2013-12
start date July 1989 endt 05/13
start date 02/99 endt July 2019
st date:1993-05/ed date:2011-01
start date 1998/end dt 08/28/2019
stdt2001 ed date:03/13
start date October 1999 end date 2019-03
STDT 1999-06/end dt 2011-02-06
stdt1990-07-17/ed date:2018
stdt1985-03-02-end dt 2013
stdtMarch 1988/endt 03/05/2020
start date 08/90-end date 2020
stdt1977-02-14/ed date:2012
STDT 1985-03-21-end dt 06/17
STDT 1994-07-21/end date 2018
start date 2006-01-end date 2021
stdt2001-04/ed date:2018
STDT 08/83/end date 2010-04-26
STDT 1973-10/endt 06/22/2015
STDT 1992/end dt June 2021
STDT September 2006-ed date:03/13
STDT 2005-ed date:July 2017
STDT 1987-end dt 2019-11
st date:1992-05-08 endt 08/27/2012
stdt1980-04/ed date:2019-06
STDT 01/10/1996 end dt 11/11
stdtApril 2000 ed date:July 2011
STDT 1983-11-06 ed date:2010
start date October 1998/ed date:08/12
st date:2000/endt 05/01/2015
st date:1985-05-endt 2012-11-12
STDT 1990-01-04/end date 12/31/2013
start date 1998-06-end date June 2015
st date:2004 ed date:2012-07-02
start date 08/80/end dt 2021-11-10
start date 04/02/2008 ed date:2016
st date:08/13/1970-end dt 06/05/2011
start date June 1975/end date 02/17
stdt10/03/1993-endt 2020-03-26
st date:11/78/end dt 2018
st date:06/24/2003 ed date:2013
STDT August 1991-end dt 04/11/2011
st date:1998-06-05-end dt 2010
stdt10/88-end date 2011
start date 1992-08-17/end dt January 2018
start date 1978-08-01/end dt 2013-08-06
stdt09/05/endt 06/14
STDT 08/13/1977 endt 01/02/2018
st date:1982-04-28/ed date:12/19/2018
STDT 1984 ed date:2013
STDT 2009-07-18-end date 06/01/2015
start date 1987-05 endt 01/19/2012
stdtDecember 1994 endt 2013
start date October 1994 end date 2014
stdt04/04/2006-endt 2018-07-26
STDT June 2003 endt 08/27/2014
st date:December 2000-endt 10/21/2013
stdt2007-06-10-end dt June 2010
STDT 04/95-end date May 2019
stdt1983/end date 2019
start date 2007-endt 2014-09-16
STDT 12/21/2004/endt February 2018
stdt04/96 ed date:05/14/2019
STDT 1971-05/end dt 03/10/2013
STDT 12/27/1974/ed date:06/18
st date:1981-05-27/ed date:2021
start date 1975-ed date:2013-08
stdt1981/endt 03/11
stdtMay 1978-endt 2012
STDT 04/14/1997/endt 08/11
stdtApril 1984-ed date:08/11/2019
start date 07/92-end date 2017-06-08
start date 02/94 end dt 2015-07
st date:1987-endt 2016-05
st date:2008-09-29/end date 2013-08-14
stdt1982/ed date:October 2017
stdt1988-01-01 end dt 2015
start date 1974-06-28 end date 2018-10
stdt04/29/1996/end date 2011
STDT August 1982 end dt 01/26/2012
st date:09/79-ed date:2021-08
start date 1989-01-13-ed date:09/21
start date 07/09/1971 ed date:2018
STDT 10/10/1979-end dt February 2013
stdt03/93-endt 10/04/2017
STDT 02/19/1985/ed date:10/20/2011
stdt05/05/1970/end date 2020-07
start date 1970-03-16-end date 11/16
start date 06/23/1999 end dt 2020-01-14
start date 11/01/1990-end date 01/07/2019
stdt2007-10/endt 2014-05
start date 1977-03-23-ed date:2018-08-04
st date:1989-11/end date 2014
start date 1983-02-19/end date 2019-12
start date 1985-07-26-ed date:2017
STDT 09/93-end dt 12/05/2017
start date 12/25/1996-endt March 2011
stdt07/25/2009 endt 2020-11-15
STDT April 1987-ed date:2019-07-05
start date 12/04/2000-endt February 2016
stdt1997-10 end date 06/14
st date:1983-02 ed date:11/20
start date 04/95 ed date:March 2019
st date:03/90 end date 12/20/2014
st date:1996 end date 2014-06-20
STDT 12/95 end dt 2018
start date October 1975-ed date:2020-07-30
STDT June 2006-endt 2020
stdtJanuary 1980/end dt August 2018
STDT 2003 endt 09/23/2020
STDT 1993/end dt 2016-02-02
st date:09/05-endt 2021
start date 1999-endt 2016-08
stdt05/85/end date 2019-08-06
st date:November 1991 endt 02/18/2019
st date:November 2003-ed date:2013-09-06
st date:10/07/1996 end dt 2011
start date 02/84/end date 2019-04-21
st date:1992-end dt 2018
stdt2004-05-31/ed date:2013-06-08
st date:1979-12-07/end dt 05/12/2019
st date:10/09/1999 end date 06/27/2020
st date:1973-07 ed date:12/10
start date 2002-12-24-endt December 2012
start date 1994-02-end date 02/10
STDT 03/25/2008-ed date:2014-04-26
stdt05/76-end date 06/21/2015
start date 1973-10-ed date:11/12
stdt1983-12-13 end date 12/13
STDT March 1982-end date 2017-12-14
STDT 05/92-end date July 2016
st date:09/13/2005/end dt 2020-07-19
st date:07/27/1993-endt 04/10
stdt1985-08-08-end date 2010-08-05
start date 1997/endt 2015-05-09
start date 10/25/1972/endt 09/09/2014
STDT 06/81 ed date:06/21/2013
st date:1981-08-26 ed date:01/25/2019
stdt05/99/end dt 2012
stdtMay 1992/end date February 2011
start date 1996-08-11 endt 01/20
STDT 11/85 end date 2016-06-18
start date 1997-09-ed date:2014-11-06
start date 1978-07-01 end dt 2018
start date September 1972/endt 2021-02-12
start date 09/81/endt 2010-02
start date 1998 endt 2010
stdt1995-03-end dt 2020
STDT 1996-02-16/ed date:2016
st date:1978-04-27 end date 2018-02
STDT 10/75-ed date:10/19
start date 1993-ed date:2010-01-06
stdt03/92/ed date:August 2012
stdt1992/end dt 12/29/2020
st date:2005-ed date:2018-03
STDT June 2005-endt 2015-10
STDT 1972-12-25/end dt 2011
start date 1992-05-28-ed date:2015-03-23
STDT 05/15/1991-ed date:2020-04-05
start date 06/12/1979/endt 2016
STDT 04/03/endt 09/27/2016
st date:1972 end date 09/15/2015
st date:1987-02/end date 09/19
stdt01/92-endt January 2014
st date:1997-end date 2010-08
start date 03/17/1997/ed date:May 2017
stdt07/77/end date 2016
st date:1999-10-08/ed date:05/10
stdt2004-ed date:2011-10-27
st date:12/09/2009 ed date:April 2019
st date:02/08/endt February 2016
STDT 01/91/end dt 10/09/2021
stdtOctober 1980/end dt September 2019
stdt02/21/1984 ed date:06/16/2016
start date 04/73 endt 03/14
stdt2005/end date 2019-12
st date:06/10/1977-ed date:2010-06
st date:2006/end date 03/15
STDT 2002/end date 01/20
start date September 1989/end date December 2019
STDT 03/09/1988-endt June 2010
st date:12/07 end date 2020-03
stdt1993 end dt December 2019
stdt1994-01-13/endt 12/28/2017
stdt07/12/1993/end dt 2011-11
st date:1980-04-end dt 02/26/2018
stdt1989/end date 12/19
start date July 1980-end date June 2017
stdt1976/end dt 2019
stdt1972-03/end dt January 2013
stdt1989-08-16-end dt 04/14
st date:06/73/endt 06/13
st date:July 2005-end date 2014-07
stdt1987-07 ed date:January 2021
st date:February 2008 end dt 03/18/2016
st date:1995-11-29 end date 2018
start date 1977-04 endt 01/29/2019
start date July 1995/end date 02/17/2020
start date April 1995/end date 2011-07-10
st date:1981-12 end dt 03/18
start date 01/70 end date 2012-12-08
stdt1992-12/end date September 2011
start date 2009-09 end dt 2010
st date:1983-01-29/end dt October 2010
start date 2003-end dt 2020-07-30
stdtMarch 1983-end date 11/22/2019
STDT 1971-08-07/ed date:2020
stdt2001-12/end date 07/11
start date 01/07/end dt 2015
start date 1985-end dt 04/20
start date 12/13/1970-end dt 2010
stdt1987 end date 2016-07
STDT September 1990-end dt 07/20
start date 05/82-end dt 2010-01-28
st date:October 2000/endt October 2016
st date:1984-08-02-ed date:2012-09
st date:1986-endt 2020
stdt10/04/1982-endt 2016
st date:1986-10-11/ed date:2016-10-06
start date 05/94-end date 2010
start date 01/20/1993 endt 11/21/2010
stdtJune 1976/ed date:2020
STDT 09/06 endt 09/02/2014
start date 06/24/1970-end dt 07/11/2021
st date:03/01/endt February 2011
start date 12/16/2004-end dt 09/13
STDT 04/01/2001 endt 04/10
start date February 2000-ed date:2014-02
start date 11/08/1985 end date 2010-05
st date:1971-12-ed date:2016
start date September 1974 ed date:2013
STDT 03/01/1998/end date September 2021
STDT July 1985/end date 2013-09
st date:05/11/2001 ed date:11/29/2014
start date 1994 end date 2018-05
start date 1994-02/end date January 2010
st date:2008-06-09-end date August 2013
stdtMarch 1974-endt 09/15
st date:2005-04 end dt 10/27/2013
stdtMay 1984/end dt 2017
start date January 1979/end date 2013
start date 1986 end date 2012
start date 12/03 endt 07/20
STDT 2009 end date 04/11/2016
stdt03/11/1973/end date 2020-01-16
STDT August 2002/endt February 2013
STDT 1992-03-06 end dt 11/18
STDT 1971/endt 2018-03
stdt1984-11-end date 10/11/2013
stdt2008-11-24/end dt 05/17
start date 1970-10-07 endt 2013-06
stdt07/09/ed date:03/21
stdtApril 1980 end dt 2019
st date:1989-04-03-end dt 09/02/2021
stdtDecember 1991 ed date:01/31/2018
stdtNovember 1995-ed date:2011-07-25
st date:2002-end date 2015-07-28
start date 1987-02 ed date:2010
STDT April 1984/ed date:2020
STDT 1992 end dt September 2015
stdt1982-08 ed date:2021-10-02
stdtAugust 2008-endt 06/25/2015
start date 1985-05-07/ed date:2016
stdtJanuary 1985/end dt 2018-04
start date 1989-endt 2016-01-14
st date:11/70-endt 2010-10
STDT 1976-01-03 ed date:11/12
STDT 2006-end dt August 2018
start date 1979-07-21 endt 03/03/2018
STDT 2000-01-03/end dt July 2014
stdt08/06/1983-ed date:2020-06-15
st date:August 1975 endt 2019-06-02
start date 12/89-endt 2013-07
STDT 1993-03-16-end date 01/12/2013
st date:1979-ed date:01/12
start date 1981-05-11/endt 2019-12-03
start date 09/09/1980-endt 2013
start date May 1972/endt 2021-03-25
st date:1990-07-29-ed date:2018-09-19
st date:1999-11 endt 2016-05
start date 1991-01 end date August 2012
st date:09/82-endt 2017-05
st date:08/11/1981 end date 06/02/2021
stdtMay 1986 endt February 2013
st date:1990-08/endt November 2019
stdtMarch 1981-end date 2012-02-08
STDT 1986-10-23-end dt 2010
STDT October 1982 ed date:2011-03-01
st date:1980-10-16/end dt 2012-12
start date October 2009 ed date:08/17
stdt05/19/1977 end date 2012-02
stdt1978-01/end date 2016
STDT 1974-04-05 end dt 07/18/2020
st date:1988-08-28 end date 2015-07-22
stdt04/80 end date 2016-11-01
stdt06/15/1974 end date 2013
STDT 2000-end date 2014-06
stdt1980-12-10 endt 2016-11
stdt1973 ed date:2012-02-06
stdtMarch 1999-endt 2015-01
stdt2001-04-01-end dt 2012-12
st date:January 1976/end date 05/30/2015
start date 10/28/1985/end dt 2016
st date:07/70/end dt 2019-02
stdt04/15/1974 endt 2020
stdt1977-ed date:2013-10-27
stdt1987-03 ed date:2019
st date:June 1973-end dt 10/18
st date:1999-10/ed date:03/04/2019
start date 1979/endt 2018-03-15
start date 1989-11-18 end dt 2019-05-26
st date:1998-05-04/end date 2014
stdt03/09-ed date:2020-10-09
st date:November 1988 end date 06/18
start date May 2003/ed date:03/13/2012
stdt12/26/1997-end date 04/20
st date:January 1999-ed date:2013
stdtMarch 1993 ed date:March 2016

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/468045103.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  for _, i in df[-df['notes'].str.lower().str.contains('\d{3}-\d{3}-\d{4}|001-\d{3}-\d{3}-\d{4}|(\(\d\d\d\)-)?(\d\d\d-\d\d\d\d)|\d\d\d(-| )?\d\d\d(-| )?\d\d\d\d|\d{3}.\d{3}.\d{4}')]['notes'].iteritems():

In [11]:
df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})|((january|february|march|april|may|june|july|august|september|october|november|december) (\d{4}))')]['notes']

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/989730867.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})|((january|february|march|april|may|june|july|august|september|october|november|december) (\d{4}))')]['notes']

0                       start date 1982-05-20 end dt 2016
1       P# 896.729.1768x061-STDT 2004-06-12-end date 2...
2       st date:1976/end dt 05/16/2019/pn: (895)351-43...
3       stdt1995-03 end date December 2021 pn:  881139...
4       pn: (448)006-0055x240-STDT 1983-02-ed date:08/...
                              ...
1995                              STDT 11/05 end dt 08/13
1996                           STDT 2008-09/ed date:03/16
1997                    st date:05/87/end date 2018-07-10
1998                 st date:March 2004/end dt 12/12/2016
1999                     STDT 1982-06 end date 2021-05-19
Name: notes, Length: 2000, dtype: object

In [12]:
for _, i in df[-df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})|((january|february|march|april|may|june|july|august|september|october|november|december) (\d{4}))')]['notes'].iteritems():
    print(i)

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/3753644755.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  for _, i in df[-df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})|((january|february|march|april|may|june|july|august|september|october|november|december) (\d{4}))')]['notes'].iteritems():

In [13]:
df['startdate'] = df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})')]['notes']
df['enddate'] = df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})')]['notes']
df

C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/2028794300.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df['startdate'] = df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})')]['notes']
C:\Users\pooja\AppData\Local\Temp/ipykernel_12224/2028794300.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df['enddate'] = df[df['notes'].str.lower().str.contains('(([1-9]{1}|0[1-9]|1[0-2])\/(0[1-9]|[1-9]{1}|[12]\d|3[01])\/[12]\d{3})|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2])-(0[1-9]|[1-9]\d|[12]\d|3[01]))|(([12]\d{3})-([1-9]{1}|0[1-9]|1[0-2]))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/([12]\d{3}))|((0[1-9]|[1-9]{1}|[12]\d|3[01])\/(0?[1-9]|1[0-2]))|date(:| )(\d{4})|t(:| )(\d{4})')]['notes']

,email,notes,PhoneNumber,startdate,enddate
0,ayalajodi@hotmail.com,start date 1982-05-20 end dt 2016,None,start date 1982-05-20 end dt 2016,start date 1982-05-20 end dt 2016
1,tmitchell@hotmail.com,P# 896.729.1768x061-STDT 2004-06-12-end date 2...,"[(896.729.1768, , , , )]",P# 896.729.1768x061-STDT 2004-06-12-end date 2...,P# 896.729.1768x061-STDT 2004-06-12-end date 2...
2,johnrivera@gmail.com,st date:1976/end dt 05/16/2019/pn: (895)351-43...,"[(895)351-4305, , , , )]",st date:1976/end dt 05/16/2019/pn: (895)351-43...,st date:1976/end dt 05/16/2019/pn: (895)351-43...
3,kimberly60@yahoo.com,stdt1995-03 end date December 2021 pn: 881139...,"[(8811396378, , , , )]",stdt1995-03 end date December 2021 pn: 881139...,stdt1995-03 end date December 2021 pn: 881139...
4,paulharding@jefferson-burns.com,pn: (448)006-0055x240-STDT 1983-02-ed date:08/...,"[(448)006-0055, , , , )]",pn: (448)006-0055x240-STDT 1983-02-ed date:08/...,pn: (448)006-0055x240-STDT 1983-02-ed date:08/...
...,...,...,...,...,...
1995,shane14@hotmail.com,STDT 11/05 end dt 08/13,None,STDT 11/05 end dt 08/13,STDT 11/05 end dt 08/13
1996,whebert@cohen.com,STDT 2008-09/ed date:03/16,None,STDT 2008-09/ed date:03/16,STDT 2008-09/ed date:03/16
1997,timothyjohnson@rice.org,st date:05/87/end date 2018-07-10,None,st date:05/87/end date 2018-07-10,st date:05/87/end date 2018-07-10
1998,sellersjeffrey@williams.info,st date:March 2004/end dt 12/12/2016,None,st date:March 2004/end dt 12/12/2016,st date:March 2004/end dt 12/12/2016
1999,whoward@garrett-dean.com,STDT 1982-06 end date 2021-05-19,None,STDT 1982-06 end date 2021-05-19,STDT 1982-06 end date 2021-05-19